
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html>
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Login Page</title>
<style type="text/css">
 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .container {
            width: 960px;
            height: 400px;
            margin: 50px auto;
            text-align: center;
            background-color: orange;
        }

        body {
            background-color: lightblue;
        }

        p {
            padding: 50px;
        }

        input[type=submit] {
            padding: 20px;
            border: none;
            border-radius: 15px;
            background-color: blue;
            color: #fff;
            cursor: pointer;
        }

        input {
            padding: 10px;
            border-radius: 5px;
        }
</style>
</head>
<body>
<div class="container"> <form  method="POST"> {% csrf_token %}
<fieldset><legend>GbolahanScrumy Login Page</legend>
 <p>Login to your account or <a href={% url 'gbolahanscrumy:signup' %}>Create a new account by Signing Up</a></p>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="login" />
   {% if form.errors %}<p><strong>Invalid Login credentials</strong></p>{% endif %}
</fieldset>
  </form></div>
</body>
</html>
