<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Goal Page</title>
	</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .container {
        width: 980px;
        height: 400px;
        margin: 50px auto;
        text-align: center;
        background-color: orange;
    }

    body {
        background-color: lightblue;
    }

    form {
        padding-top: 2rem;
    }

    input[type=submit] {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: blue;
        color: #fff;
        cursor: pointer;
    }

    input {
        padding: 10px;
        border-radius: 5px;
    }
</style>

	<body>


<div class="container">
     <p class="p2">User Group: {{ request.user.groups.all }}</p>
        <p>{{ request.user }} is the current authenticated user</p>
    {% if user.is_authenticated  %}
    <form method="POST">

        {{ form.as_p }}

         <input type="submit">
         {% csrf_token %}
     </form>
     {% else %}
<p>You are not allowed to view this page, <a href="{% url 'index' %}">Sign Up Here</a> or <a href="{% url 'login' %}">Login Here</a></p>
     {% endif %}
</div>
</body>

</html>